.form-control {
  width: 90%;
  border-radius: 20px;
  margin: 0 auto;
}

.container-input{
  padding: 20px 0px 10px 0px;
  position: fixed;
  bottom: 6.5vh;
  margin-left: 0;
  margin-right: 0;
  background-color: #070118;
}

.messages {
  margin-bottom: 25px;
  padding: 0px 10px;
  color: white;
  height: 60vh;
  /* background: red; */
  overflow-y: scroll;
}

.rounded-message {
  border-radius: 12px;
}

.bg-primary1{
  background-color: purple;
}

.bg-secondary2{
  background-color: none;
  border: white 1px solid;
}
