// Specific CSS for your home-page
.container-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
  justify-content: center;
  align-items: center;
}

.phrase-accroche {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.phrase-accroche2 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.container-paragraphe {
  margin-bottom: 0px;
}
