// Specific CSS for your home-page

.coeur_homepage {
  width: 185px;
  object-fit: cover;
  margin-top: 20px;
}

.phrase-accroche {
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.phrase-accroche-48 {
  font-size: 2rem;
  margin-bottom: -1px;
  font-weight: 600;
  color: #B475DD;
}
