.ready-text {
  font-size: 1.2rem;
}

.parag-recherche {
  margin: 0;
}

.parag-btn {
  margin: 0;
}

.coeur_go {
  margin-top: 56px;
  width: 210px;
}

.titre-pret {
  color: black;
  font-size: 36px;
  padding-top: 43px;
  font-weight: bold;
}
