.savoir-plus {
  margin: 90px 0 90px 0;
  p {
    margin: 0;
  }
}

.ul-card-result {
    margin: 0;
    padding: 0;
  }

.li-card-result {
  font-size: 1.5rem;
  font-weight: bold;
  list-style-type: none;
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.li-card-result:after {
  content: "";
  display: block;
  height: 1px;
  width: 30%;
  margin: 15px;
  background: white;
}

.title-commun {
  font-size: 25px;
  margin-bottom: 40px;
}

.margin-btn {
  margin: 50px 0 80px 0;
}

.card-result {
  background-color: #be94fa;
  padding: 10%;
  border-radius: 15px;
  width: 100%;
  border: 3px solid rgb(255, 255, 255);
}
