.savoir-plus {
    margin: 40px 0 200px 0;
  p {
    margin: 0;
  }
}

.ul-card-result {
    margin: 0;
    padding: 0;
  }

.li-card-result {
  font-size: 1.5rem;
  font-weight: bold;
  list-style-type: none;
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.li-card-result:after {
  content: "";
  display: block;
  height: 1px;
  width: 30%;
  margin: 15px;
  background: white;
}

.title-commun {
  font-size: 25px;
  margin-bottom: 40px;
}

.margin-btn {
  margin: 50px 0 80px 0;
}

.card-result {
  background-color: #181818;
  padding: 10%;
  border-radius: 15px;
  width: 100%;
  border: 3px solid rgb(255, 255, 255);
}

.coeur-pourcent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 600;
}

#ton-match {
  color: #fafafa;
  font-size: 46px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 52px;
}

#compatibilite {
  font-size: 30px;
  font-weight: 600;
  color: #be94fa;
}

.first_name {
  color: #be94fa;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 42px;
}

#details {
  margin-top: 48px;
  font-size: 15px;
}
