<div class="navbar d-flex">
  <%= link_to "",  destroy_all_path, class: "position-absolute top-0 start-0 width btn-secret", method: :delete %>
  <%= image_tag "logo.svg", style: "width: 190px; object-fit: contain;", class: "mx-auto mt-5" %>
</div>
