<div class="navbar p-3">
  <%= image_tag "vibes.png", style: "width: 130px; object-fit: contain;", class: "mx-auto" %>

  <%= link_to destroy_user_session_path	, method: :delete do %>
  <%= image_tag "log-out.png", style: "width:25px; object-fit:contain; margin-left: -25px" %>
  <% end %>
</div>
