<div id="home">
  <div>
    <h1>Vibes</h1>

    <p>Montre qui tu es vraiment,
    pas ce à quoi tu ressembles.</p>

    <p>Tu es plus qu’une photo. Tu as des histoires à raconter et des passions à partager.</p>
  </div>
</div>
