<div id="home">
  <div class="d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('homepage-background.jpeg') %>')">
    <h1>Vibes</h1>

    <p>Montre qui tu es vraiment,
    pas ce à quoi tu ressembles.</p>

    <p>Tu es plus qu’une photo. Tu as des histoires à raconter et des passions à partager.</p>
  </div>
</div>
