<div id="home">
    <div class="container-homepage">
      <%= image_tag("vibes.svg", class:'logo_homepage')%>
      <%= image_tag("coeur-asymetrique.svg", class:'coeur_homepage')%>

      <div class="content-homepage">
        <p class="phrase-accroche-48">48 heures</p>
        <p class="phrase-accroche">pour se découvrir</p>
        <br>
        <br>
        <%= link_to "Connexion", user_session_path, class: "btn btn-connexion" %>
        <br>
        <%= link_to "Inscription", new_user_session_path, class: "btn btn-principal" %>
      </div>
    </div>
</div>
