<div id="home">
  <div class="container">
    <%= image_tag("Logo.png", class:'logo_homepage')%>
    <div class="container-text">
      <p>Tu es plus qu’une photo.</p>
      <p>Tu as des histoires à raconter et des passions à partager.</p>
      <%= link_to "Inscription", new_user_session_path, class: "btn btn-gradient" %>
      <%= link_to "Connexion", user_session_path, class: "btn btn-gradient2" %>
    </div>
  </div>
</div>
