<h1>Votre rencontre</h1>
<h2>Quelques idées d'activités :</h2>
<ul>
  <li>Prenez un verre !</li>
  <li>Un cinéma ?</li>
  <li>Réservez une table</li>
  <li>Visitez un musée</li>
  <li>Baladez-vous</li>
</ul>
