<div class="container text-white">
  <h1>Bonjour <%= current_user.profile.first_name %></h1>
  <%= image_tag "seb.jpg", class:"activity_image1 mb-5"%>
  <h3>Prêt à trouver l'amour ?</h3>

  <%= link_to "Continuer", matched_users_path, class:"btn-gradient" %>
  </div>
</div>
