<div class="container text-white">
    <div class='card mt-5'>
      <% if @matching %>
      <h1><%= current_user.profile.first_name %> tu as trouvé un match !</h1>
        <br>
        <%= link_to chatroom_path(@matching.chatroom) do %>
          <div class="btn btn-principal">
            <p class="parag-btn">Discutez</p>
          </div>
        <% end %>
      <% else %>
      <h1><%= current_user.profile.first_name %> es-tu prêt ?</h1>
        <br>
        <%= link_to matched_users_path do %>
          <div class="activity_image1">
            <p class="parag-btn">Lancer la recherche</p>
          </div>
        <% end %>
      <% end %>
    </div>
  <div>
</div>
