<div class="container text-white">
  <div class='card'>
    <h1>Bonjour <%= current_user.profile.first_name %></h1>
    <br>
    <%= cl_image_tag current_user.profile.photo.key, class:"activity_image1"%>
  </div>
  <div class="card mt-4">
    <h3 class="ready-text">Prêt(e) à trouver l'amour ?</h3>
    <% if @matching %>
      <%= link_to "Discuter", chatroom_path(@matching.chatroom) , class:"btn-principal" %>
    <% else %>
      <%= link_to "C'est parti !", matched_users_path, class:"btn-principal" %>
    <% end %>
  </div>
</div>
