<div class="container">
  <h1> C'est l'heure de découvrir la photo de votre partenaire ! </h1>
  <br>
  <%= image_tag("victor.jpg", class: "picture-reveal", alt: "picture-reveal")%>
  <br>
  <%= link_to "Continuer", matches_activity_path, class: "btn-gradient" %>
</div>
