<div class="container">
  <h1 id="ton-match">Ton match !</h1>
    <div class="contenant">
      <%= image_tag("vibes-coeur.gif", class:'coeur_vibes')%>
      <p class="coeur-pourcent w-70">85,7 %</p>
    </div>
  <div class="hline"></div>
  <br>
  <h1 class="first_name"><%= @user.profile.first_name %></h1>
  <h2 class="display-4"><%= @user.profile.age %> ans</h2>
  <%= link_to "Discutez", chatroom_path(@matching.chatroom), class: "btn btn-principal w-70" %>
</div>
