<br>
<div class="container">
  <div class="card">
    <div class="content">
      <h1>C'est l'heure !</h1>
      <br>
      <h3>48 h sont passées</h3>
      <br>
      <%= image_tag("time-limit.png", :alt => "Timer") %>
      <br>
      <h3>Voulez-vous réveler vos photos ? </h3>
      <br>
      <%= link_to "Oui", picture_match_path, class: "btn-reveal-oui" %>
      <%= link_to "Non", matches_activity_path, class: "btn-reveal-non" %>
    </div>
  </div>
</div>
</div>
