.btn-principal {
  color: white;
  padding: 8px 24px;
  border-radius: 30px;
  font-weight: bold;
  background: linear-gradient(#9000ff 20%, #720373);
  transition: background 0.3s ease;
  margin-top: 5%;
  margin-bottom: 5%;
  text-decoration: none;
  border: 1px solid #52034f;
}

.btn-principal:hover {
  background: rgb(238, 236, 236);
}

.btn-connexion {
  color: white;
  padding: 8px 30px;
  border-radius: 30px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: 1px solid #ffffff;
}

.btn-connexion:hover {
  background: rgb(238, 236, 236);
}


.btn-reveal-oui {
  color: black;
  padding: 8px 30px;
  border-radius: 30px;
  font-weight: bold;
  background-color: white;
  transition: background 0.3s ease;
  border: 1px solid #ffffff;
  text-decoration: none;
  margin-top: 3%;
}

.btn-reveal-oui:hover {
  background: rgb(116, 33, 248);
  color:white
}

.btn-reveal-non {
  color: white;
  padding: 8px 30px;
  border-radius: 30px;
  font-weight: bold;
  background-color: rgb(235, 48, 48);
  transition: background 0.3s ease;
  border: 1px solid #ffffff;
  text-decoration: none;
  margin-top: 3%;
}

.btn-reveal-non:hover {
  background: rgb(255, 255, 255);
  color: black
}
