#questionnaire-title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.container-questionnaire {
  height: 90%;
  width: 83%;
  background: linear-gradient(#0428a7 30%, rgba(249, 51, 206, 0.8));
  border-radius: 20px;
  flex: none;
  scroll-snap-align: center;
  color: white;
  margin: 0 40px;
  margin-top:15px;
  display: flex;
  flex-direction: column;
  h2 {
    font-weight: bold;
    margin-bottom: 35px;
    padding: 0 12px;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: 120px;
    color: black;
    font-size: 36px;
    }
}

.panel-0 {
  background: url(image-path("gender.png")), #FFF1E6;
  background-position: center 10px;
  background-repeat: no-repeat;
  background-size: 100px auto;
}

.panel-1 {
  background: url(image-path("heart.png")), #FDE2E4;
  background-position: center 10px;
  background-repeat: no-repeat;
  background-size: 100px auto;
}

.panel-2 {
  background: url(image-path("personality.png")), #FAD2E1;
  background-position: center 10px;
  background-repeat: no-repeat;
  background-size: 100px auto;
}

.panel-3 {
  background: url(image-path("talk.png")), #C5DEDD;
  background-position: center 10px;
  background-repeat: no-repeat;
  background-size: 100px auto;
}

.panel-4 {
  background: url(image-path("clapperboard.png")), #DBE7E4;
  background-position: center 10px;
  background-repeat: no-repeat;
  background-size: 100px auto;
}

.panel-5 {
  background: url(image-path("music.png")), #F0EFEB;
  background-position: center 10px;
  background-repeat: no-repeat;
  background-size: 100px auto;
}

.panel-6 {
  background: url(image-path("sports.png")), #D6EDE9;
  background-position: center 10px;
  background-repeat: no-repeat;
  background-size: 100px auto;
}

.panel-last {
  background: url(image-path("lets-go.png")), #BCD4E6;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px auto;
}

.wrapper-questionnaire {
  height: 79vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.container-answer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

.container-submit {
  flex: none;
  scroll-snap-align: center;
  height: 45px;
  color: white;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 30px;
  background: black;
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.checkbox-transparent{
  position: absolute;
  transform: scale(0);
}

.checkbox-transparent + label {
    cursor: pointer;
    display: inline-block;
    color: black;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    background: black;
    transition: background 0.3s ease;
    border: 1px solid rgba(31, 31, 233, 0.918);
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: black;
    border: 2px solid black;
    background: none;
    border-radius: 17px;
    background-color: white;
}

.checkbox-transparent:checked + label {
    background-color: black;
    color: white;
}
