.container {
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.container-reveal {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(background-neon.webp);
  background-size: cover;
  height: 320px;
  background-position: center;
  color: white;
}

.content {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 43px;
}

.container-chrono {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
