.logo_homepage {
  width: 700px;
  padding-bottom: 80%;
  position: absolute;
  transform: rotate(-40deg);
  left: -40px;
  top: -40px;
}

.logo_reveal {
  width: 65%;
  padding-bottom: 20%;
  padding-top: 20%;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
