@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.body {
  background-color: #fefefe;
  font-family: 'Balsamiq Sans', cursive;
  padding: 40px 20px;
}

h1, h2, p {
font-family: 'Balsamiq Sans', cursive;
}
