@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.body {
  background-color: #070118;
  font-family: 'Balsamiq Sans', cursive;
}

h1, h2, p {
font-family: 'Balsamiq Sans', cursive;
}
