.body {
  background-image: url("https://i.pinimg.com/564x/d6/be/b2/d6beb2231efb299be05b8134997c6d88.jpg");
  font-family: 'Montserrat', sans-serif, cursive;
}

.black {
  background-color: rgba(0, 0, 0, 0.7);
}

h1, h2, h3, p {
  font-family: 'Montserrat', sans-serif, cursive;
  color: white;
}

h3 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
}


.hline {
  width: 40%;
  height: 3px;
  background: #fff;
}
